# Игнорировать файл .env
.env

# Игнорировать бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Игнорировать временные файлы и директории
__pycache__/
.vscode/
*.swp

# Игнорировать зависимости Go
/vendor/


a

*.idea